streamlit
streamlit-lottie
requests
PyPDF2
pillow
torch

langchain==0.1.16
langchain-community==0.0.36
langchain-huggingface==0.0.2
langchain-google-genai==0.0.11
sentence-transformers
faiss-cpu
transformers

supabase
python-dotenv
